 <div class="about" >
  <h2 class="heading">About <span>Me</span></h2>
  <div class="about-img">
    <img src="../../assets/img/dsc.png" alt="wael">
    <span class="circle-spin"></span>
  </div>
  <div class="about-content">
    <h3>Software Engineer!</h3>
    <p>    I am a second-year software engineering student and a full-stack developer but my passion lies in the field of Artificial Intelligence . With a keen interest in Machine Learning and Deep Learning, I have gained a valuable experience in this fieldwhich makes me a valuable asset to any team looking to leverage this technology.I am a second-year software engineering student and a full-stack developer but my passion lies in the field of Artificial Intelligence . With a keen interest in Machine Learning and Deep Learning, I have gained a valuable experience in this fieldwhich makes me a valuable asset to any team looking to leverage this technology.
    </p>
<div class="btn-box btns">
  <a href="#" class="btn">Read More</a>
</div>
</div>
</div>
