<div class="skills">
  <h2 class="heading">My <span>Skills</span></h2>
  <div class="skills-row">
    <div class="skills-column">
      <h3 class="title">Coding Skills</h3>
      <div class="skills-box">
        <div class="skills-content">
          <div class="progress">
            <h3>HTML <span>100%</span></h3>
            <div class="bar"><span></span></div>
          </div>
          <div class="progress">
            <h3>CSS <span>90%</span></h3>
            <div class="bar"><span></span></div>
          </div>
          <div class="progress">
            <h3>typescript <span>90%</span></h3>
            <div class="bar"><span></span></div>
          </div>
          <div class="progress">
            <h3>Java <span>100%</span></h3>
            <div class="bar"><span></span></div>
          </div>
      </div>
    </div>
  </div>
    <div class="skills-column">
      <h3 class="title">Professional skills</h3>
      <div class="skills-box">
        <div class="skills-content">
          <div class="progress">
            <h3>Web Design <span>80%</span></h3>
            <div class="bar"><span></span></div>
          </div>
          <div class="progress">
            <h3>Backend Development  <span>100%</span></h3>
            <div class="bar"><span></span></div>
          </div>
          <div class="progress">
            <h3>Frontend Development  <span>90%</span></h3>
            <div class="bar"><span></span></div>
          </div>
          <div class="progress">
            <h3>Devops <span>70%</span></h3>
            <div class="bar"><span></span></div>
          </div>
      </div>
    </div>
  </div>


</div>
