<div class="home" id="home">
  <div class="home-content">
    <h1>Hi ,I'm <span>Wael Antar</span></h1>
    <div class="text-animate">
      <h3>Software Engineer</h3>
    </div>
  <p>
    I am a second-year software engineering student and a full-stack developer but my passion lies in the field of Artificial Intelligence . With a keen interest in Machine Learning and Deep Learning, I have gained a valuable experience in this fieldwhich makes me a valuable asset to any team looking to leverage this technology.I am a second-year software engineering student and a full-stack developer but my passion lies in the field of Artificial Intelligence . With a keen interest in Machine Learning and Deep Learning, I have gained a valuable experience in this fieldwhich makes me a valuable asset to any team looking to leverage this technology.
    </p>
<div class="btn-box">
  <a href="#" class="btn">Hire</a>
  <a href="#" class="btn">Let's Talk</a>
</div>
<div class="home-sci">
  <a href="#"><i class='bx bxl-facebook'></i></a>
  <a href="#"><i class='bx bxl-github'></i></a>
  <a href="#"><i class='bx bxl-linkedin'></i></a>

</div>
<div class="imagee">
<img src="../../assets/img/dsc.png" alt="wael" >
</div>
</div>

